In [53]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
import six
import sys
sys.modules['sklearn.externals.six'] = six
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
import graphviz
from sklearn import datasets
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
plt.rcParams["figure.figsize"] = (20,10)

In [54]:
df = pd.read_csv('Absenteeism_at_work.csv', sep = ';')# importer les donn√©es ou notre data frame
df.shape # connaitre les dimension de notre data frame

(740, 21)

In [25]:
df.drop(['Month of absence','Service time','Hit target','Weight','Height'],axis='columns',inplace=True)
df.head()

,Reason for absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Age,Work load Average/day,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Body mass index,Absenteeism time in hours
0,26,3,1,289,36,33,239.554,0,1,2,1,0,1,30,4
1,0,3,1,118,13,50,239.554,1,1,1,1,0,0,31,0
2,23,4,1,179,51,38,239.554,0,1,0,1,0,0,31,2
3,7,5,1,279,5,39,239.554,0,1,2,1,1,0,24,4
4,23,5,1,289,36,33,239.554,0,1,2,1,0,1,30,2

In [26]:
df.shape

(740, 15)

In [27]:
df['Absenteeism time in hours'].value_counts()

8      208
2      157
3      112
1       88
4       60
0       44
16      19
24      16
40       7
5        7
32       6
64       3
80       3
120      3
112      2
56       2
48       1
7        1
104      1
Name: Absenteeism time in hours, dtype: int64

In [28]:
df['Absenteeism time in hours'].replace(0,"Parfait",inplace=True)
df['Absenteeism time in hours'].replace([1,2,3,4,5,6,7,8,9,10,16],"Faible",inplace=True)
df['Absenteeism time in hours'].replace([16,24,40,32,56,48],"Moyenne",inplace=True)
df['Absenteeism time in hours'].replace([120,80,64,112,104],"Elever",inplace=True)
df['Absenteeism time in hours'].value_counts()

Faible     652
Parfait     44
Moyenne     32
Elever      12
Name: Absenteeism time in hours, dtype: int64

In [29]:
df.rename(columns={"Absenteeism time in hours": "target"}, inplace=True)

In [30]:
y=df['target'] #  determine le target 
X= df.iloc[:,:-1]

In [31]:
y

0       Faible
1      Parfait
2       Faible
3       Faible
4       Faible
5       Faible
6       Faible
7       Faible
8      Moyenne
9       Faible
10      Faible
11      Faible
12      Faible
13      Faible
14      Faible
15      Faible
16      Faible
17      Faible
18      Faible
19      Faible
20      Faible
21      Faible
22     Moyenne
23      Faible
24      Faible
25      Faible
26      Faible
27      Faible
28      Faible
29      Faible
        ...
710     Faible
711    Moyenne
712     Faible
713     Faible
714    Parfait
715    Parfait
716     Faible
717     Faible
718     Faible
719     Faible
720     Faible
721     Faible
722     Faible
723     Faible
724     Faible
725     Faible
726     Faible
727     Faible
728     Faible
729     Elever
730     Faible
731     Faible
732     Faible
733     Faible
734     Elever
735     Faible
736     Faible
737    Parfait
738    Parfait
739    Parfait
Name: target, Length: 740, dtype: object

In [32]:
X

,Reason for absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Age,Work load Average/day,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Body mass index
0,26,3,1,289,36,33,239.554,0,1,2,1,0,1,30
1,0,3,1,118,13,50,239.554,1,1,1,1,0,0,31
2,23,4,1,179,51,38,239.554,0,1,0,1,0,0,31
3,7,5,1,279,5,39,239.554,0,1,2,1,1,0,24
4,23,5,1,289,36,33,239.554,0,1,2,1,0,1,30
5,23,6,1,179,51,38,239.554,0,1,0,1,0,0,31
6,22,6,1,361,52,28,239.554,0,1,1,1,0,4,27
7,23,6,1,260,50,36,239.554,0,1,4,1,0,0,23
8,19,2,1,155,12,34,239.554,0,1,2,1,0,0,25
9,22,2,1,235,11,37,239.554,0,3,1,0,0,1,29
10,1,2,1,260,50,36,239.554,0,1,4,1,0,0,23
11,1,3,1,260,50,36,239.554,0,1,4,1,0,0,23
12,11,4,1,260,50,36,239.554,0,1,4,1,0,0,23
13,11,4,1,179,51,38,239.554,0,1,0,1,0,0,31
14,23,4,1,179,51,38,239.554,0,1,0,1,0,0,31
15,14,6,1,246,25,41,239.554,0,1,0,1,0,0,23
16,23,6,1,179,51,38,239.554,0,1,0,1,0,0,31
17,21,2,1,179,51,38,239.554,0,1,0,1,0,0,31
18,11,5,1,189,29,33,239.554,0,1,2,0,0,2,25
19,23,4,1,248,25,47,205.917,0,1,2,0,0,1,32
20,10,4,1,330,16,28,205.917,0,2,0,0,0,0,25
21,11,2,1,179,51,38,205.917,0,1,0,1,0,0,31
22,13,2,1,361,52,28,205.917,0,1,1,1,0,4,27
23,28,6,1,260,50,36,205.917,0,1,4,1,0,0,23
24,18,2,1,289,36,33,205.917,0,1,2,1,0,1,30
25,25,2,1,361,52,28,205.917,0,1,1,1,0,4,27
26,23,3,1,289,36,33,205.917,0,1,2,1,0,1,30
27,28,4,1,157,27,29,205.917,0,1,0,1,1,0,22
28,18,4,1,289,36,33,205.917,0,1,2,1,0,1,30
29,23,6,1,179,51,38,205.917,0,1,0,1,0,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,22,5,3,378,49,36,275.089,0,1,2,0,1,4,21
711,19,5,3,118,13,50,275.089,0,1,1,1,0,0,31
712,19,6,3,233,51,31,275.089,0,2,1,1,0,8,21
713,27,6,3,179,26,30,275.089,0,3,0,0,0,0,19
714,0,2,3,235,29,48,275.089,1,1,1,0,1,5,33
715,0,2,3,268,11,33,275.089,1,2,0,0,0,0,25
716,19,5,3,118,13,50,275.089,0,1,1,1,0,0,31
717,13,5,3,179,26,30,275.089,0,3,0,0,0,0,19
718,28,5,3,291,31,40,275.089,0,1,1,1,0,1,25
719,13,2,1,179,26,30,275.089,0,3,0,0,0,0,19
720,25,2,1,118,10,37,275.089,0,1,0,0,0,0,28
721,22,5,1,233,51,31,275.089,0,2,1,1,0,8,21
722,8,6,1,118,10,37,275.089,0,1,0,0,0,0,28
723,10,4,1,118,10,37,275.089,0,1,0,0,0,0,28
724,22,4,1,233,51,31,275.089,0,2,1,1,0,8,21
725,26,4,1,235,20,43,264.604,0,1,1,1,0,0,38
726,19,6,1,233,51,31,264.604,0,2,1,1,0,8,21
727,6,2,1,228,14,58,264.604,0,1,2,0,0,1,22
728,28,2,1,118,10,37,264.604,0,1,0,0,0,0,28
729,6,3,1,228,14,58,264.604,0,1,2,0,0,1,22
730,22,3,1,189,29,33,264.604,0,1,2,0,0,2,25
731,23,4,1,118,10,37,264.604,0,1,0,0,0,0,28
732,22,4,1,361,52,28,264.604,0,1,1,1,0,4,27
733,22,4,1,225,26,28,264.604,0,1,1,0,0,2,24
734,13,2,1,369,17,31,264.604,0,1,3,1,0,0,25
735,14,3,1,289,36,33,264.604,0,1,2,1,0,1,30
736,11,3,1,235,11,37,264.604,0,3,1,0,0,1,29
737,0,3,1,118,14,40,271.219,0,1,1,1,0,8,34
738,0,4,2,231,35,39,271.219,0,1,2,1,0,2,35
739,0,6,3,179,45,53,271.219,0,1,1,0,0,1,25

In [33]:
model =  DecisionTreeClassifier()

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=5)# diviser le data set pour train le model
print(X_train.shape)# les donn√©es utilis√© pour le training
print(X_test.shape)#les donn√©es utilis√© pour le test
df.shape

(592, 14)
(148, 14)

(740, 15)

In [35]:
model.fit(X_train,y_train)#train le mod√©l

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [36]:
model.score(X_test,y_test)# evaluer le mod√©l

0.8918918918918919

In [37]:
predict_train = model.predict(X_train)
predict_test = model.predict(X_test)

In [38]:
#cross_val_score(DecisionTreeClassifier(),X_train,y_train,cv=5,scoring='accuracy').mean()

In [39]:
dot_data = StringIO()

In [40]:
export_graphviz(model,out_file=dot_data,filled=True,rounded=True,special_characters=True)

In [41]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [42]:
graph.write_png('tree_final.png')

True